#field{
	border: 2px solid gray;
	position: relative;
}
#board{
	background-color: #fcc;
	position: absolute;
	bottom: 0px;
}
#ball{
	position: absolute;
	background-image: url(ball.png);
	transition-property:left, top;
	transition-duration:200ms;
	transition-timing-function:linear;
}